.homepage-master-container {
    display: flex;
    justify-content: center;
}

.homepage-container {
    display: flex;
    height: 100%;
    width: 95%;
}

/* Centre Content */
.centre-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 5;
    text-align: center;
    margin-top: 0px;
    height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    padding-left: 200px;
}


.menu-icon{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    cursor: pointer;
}

.menu-icon svg{
    width: 30px;
    height: auto;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
}

.menu-icon.closed svg{
    transition: transform 0.3s ease-in-out;
}

.menu-icon.open svg{
    transition: transform 0.3s ease-in-out;
}

/* Left Content */
.left-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    flex: 1;
    padding-left: 35px;
    background-color: white;
    border-right: 1px solid #ddd;
    text-align: start;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
}

.left-bar.closed{
    transform: translateX(-120%);
}

.left-bar.open{
    transform: translateX(0);
}

.overlay{
    position: fixed;
    top: 0;
    left: 200px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    z-index: 900;
    display: block;
}

.left-bar .logo {
    margin-left: -10px;
}

.left-bar .logo img {
    padding: 18px 0px 0 0px;
    height: 0.9cm;
    /* width: 10px; */
}

.left-bar ul {
    margin-top: 8%;
    list-style: none;
    padding: 0;
}

.left-bar ul .option-ul {
    display: flex;
    flex-direction: row;
}

.left-bar ul .option-ul img {
    width: 15%;
    height: auto;
    cursor: pointer;
}

.left-bar ul li {
    margin: 12px 0;
    transition: 0.2s ease;
    width: 100%;
    cursor: pointer;
}

.left-bar ul li a {
    padding-left: 5px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    width: 100%;
}

.left-bar ul li:hover {
    padding-left: 5px;
}

.left-bar .quick-actions {
    display: flex;
    align-items: center;
    font-size: 1rem;
    margin-top: 25%;
    margin-bottom: 10%;
    cursor: pointer;
    padding: 5px 25px;
    background: rgb(29, 167, 29);
    color: white;
    font-weight: 600;
    border: 1px solid green;
    border-radius: 0.75rem;
    transition: 0.2s ease-in-out;
}

.left-bar .quick-actions:hover {
    background: rgb(23, 131, 23);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.left-bar .quick-actions img {
    margin-right: 5px;
    width: 20px;
    height: auto;
    filter: invert(100);
}

.left-bar .create-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87.5%;
    height: 200px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 0.75rem;
    background: linear-gradient(250deg, #c0e7ff, #ffecec);
    font-family: Parkinsans;
    transition: 0.1s ease-in-out;
}

.left-bar .create-article:hover {
    filter: saturate(3);
}

.left-bar .create-article h3 {
    margin-bottom: -10px;
    transition: 0.2s ease-in-out;
}

.left-bar .create-article h4 {
    display: flex;
    align-items: center;
    filter: invert(100);
    background: #ddd;
    color: rgb(0, 0, 0);
    padding: 5px 2px 5px 8px;
    border-radius: 0.375rem;
    width: fit-content;
}

.left-bar .create-article h4:hover {
    background: white;
}

/* .left-bar .create-article img{
    width: 35%;
    height: auto;
    border-radius: 100%;
    padding: 20px;
} */

@media (max-width: 768px){
    .left-bar{
        transform: translateX(-100%);
    }

    .menu-icon{
        display: block;
        width: 100vw;
        transform: translateX(100);
        background: white;
    }

    .centre-section{
        margin-top: 50px;
        margin-left: -10px;
        padding-left: 0px;
    }
    
    .menu-icon.closed svg{
        transform: translateX(0);
    }

    .menu-icon.open svg{
        transform: translateX(350%);
    }
}

@media (min-width: 769px){
    .left-bar{
        transform: translateX(0);
    }

    .overlay{
        display: none;
    }
}