@font-face {
  font-family: "Ahrefs";
  src: url('/public/assets/fonts/ahrefs-regular.ttf');
}

@font-face {
  font-family: "Parkinsans";
  src: url('/public/assets/fonts/static/Parkinsans-Regular.ttf');
}

@font-face {
  font-family: "DancingScript";
  src: url('/public/assets/fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf');
}

body{
  padding: 0;
  margin: 0;
  font-family: Parkinsans;
}

  