.centre-section .left-container .blog-grid {
    display: grid;
    padding: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.centre-section .blog-card{
    text-align: start;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 1rem;
    cursor: pointer;
    overflow: hidden;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    transition: transform 0.2s ease-in-out;   
    text-decoration: none;
    color: #000;
}

.centre-section .blog-card img{
    width: 97%;
    height: 200px;
    object-fit: cover;
    margin-bottom: -10px;
    border-radius: 1rem;
}

.centre-section .blog-card h3{
    font-size: 1rem;
    margin: 15px;
}

.centre-section .blog-card p{
    font-size: 1rem;
    color: #555;
    margin: 0 15px 15px;
}


/*
.centre-section p{
    font-size: 18px;
    margin-bottom: 15px;
}

 .centre-section button{
    padding: 8px 30px;
    background-color: rgb(42, 183, 42);
    color: white;
    font-family: Ahrefs;
    font-weight: 500;
    border: 1px solid;
    border-color: grey;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.centre-section button:hover{
    background-color: white;
    color: black;
    transform: scale(1.2);
} */



/* Right sidebar 
.right-sidebar{
    position: relative;
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

 .right-sidebar .search-navbar{
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 0;
    left: 0;
}

.right-sidebar .search-navbar h3{
    text-align: center;
    font-size: 23px;
} 

.right-sidebar ul{
    margin-top: 0px;
    list-style: none;
    padding: 0;
}

.right-sidebar ul li{
    margin: 10px 0;
}

.right-sidebar ul li a{
    text-decoration: none;
    color: #595959;
    font-size: 18px;

}
*/